body{
    margin: 0px;
    padding: 0px;
    font-family: 'Ubuntu', sans-serif;
}

.name-style{
    color: palevioletred;
}

h1{
    font-size: 50px;
   
   

}
p{
    font-size: 15px;
    margin-bottom: 10px;
    
}
section{
    height: 600px;
    padding-bottom: 100px;
    
}

.half-width{
 width: 40%;
 padding-left: 5%;
 float: left;
 padding-top: 3%;
 

}

#to-fi-div{
    text-align: left;
    padding-left: 20%;
    margin-top: 100px;
    
   }

.half-width img{
    width: 100%;
    
}

.link-button{
text-decoration: none;
padding: 10px 20px;
color: white;
background-image: linear-gradient(45deg, pink, red);
border-radius: 8px;
margin-bottom:20px;
}

p{
   margin-bottom: 30px;
   color: darkgray;
;
   
}
.top-banner{
    background-image: url("images/header-bg.png");
    background-repeat: repeat;
    background-position: left;
    padding-bottom: 0px;
}

#bio-div{
    margin-top: 100px;
}
.biography{
    background-image: url("images/biography-bg.png");
    margin-top: 100px;
    background-repeat: no-repeat;
}

.biography .half-width img{
    height: 650px;
}

.work{
    width: 25%;
    display: inline-block;
    padding-left: 5%;
    padding-right: 3%;
}

.work img{
    height: 250px;
    width: 100%;
}
.my-work h1{
    text-align: center;
}
.my-work{
    height: 450px;
    background-image: url("images/latest-work-bg.png");
    padding-bottom: 0px;
}
.work-1{
    padding-left: 8%;
}

.work-2{
    padding-left: 0%;
}
.work-3{
    padding-left: 0%;
    padding-right: 8%;
}

.client{
    text-align: center;
}

.client-feedback{
    height: 400px;
    text-align: center;
   
}

.client-feedback p{
    margin: 0px;
}

.client-feedback h4{
    font-weight: 50;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgrey;
}

.c1{
    margin-bottom: 50px;
}
.c1 p{
    font-weight: 500;
    color: #333;
}
.c2{
    height: 100px;
    width: 500px;
    background-color: rgb(237,75,112);
    margin: 0 auto;
    color: white;
    padding-top: 35px;
    border-radius: 7px;

}
.c2 p{
    color: white;
}

.c2 h3{
    padding-bottom: 0px;
}


